::selection { background: rgba($black, 0.75); color: $white; }
::-moz-selection { background: rgba($black, 0.75); color: $white; }

@include font-classes();
@include color-classes();

#trail {
  position: absolute;
  background: $white;
  top: 0px;
  left: 0px;
  z-index: -1;
  #gray-path {
    fill: none;
    stroke: $lightgray;
    stroke-width: 10px;
  }
  #red-path {
    fill: none;
    stroke: $gusto;
    stroke-width: 10px;
  }
}

#title-section {
  padding-top: 80px;
  @media #{$medium-up} { padding-top: 160px; }
  h1 { margin-bottom: 15px; }
}

// DELETE THIS AFTER TESTING
.test {
  display: block;
  margin: 200px auto;
  width: 200px;
  height: 200px;
  background-image: url('https://www.poliana.com/assets/logo-1f34130e0cc76eee163ef21937922c32.png');
  background-repeat: no-repeat;
  @include background-size-working(140px auto);
  background-position: 50% 50%;
}
