::selection { background: rgba($black, 0.75); color: $white; }
::-moz-selection { background: rgba($black, 0.75); color: $white; }

@include font-classes();
@include color-classes();

.state-indicator {
	position: absolute;
	top: -999em;
	left: -999em;
	@media #{$small-up} { z-index: 1; }
	@media #{$small-only} { z-index: 2; }
	@media #{$medium-up} { z-index: 3; }
	@media #{$medium-only} { z-index: 4; }
	@media #{$large-up} { z-index: 5; }
	@media #{$large-only} { z-index: 6; }
}

section {
  @extend .white-background-color;
  padding: 20px 0px;
  .row {
    opacity: 0.25;
    @include single-transition(opacity, $time * 2, linear);
    &.fadeIn { opacity: 1; }
  }
  &.heading {
    margin: 80px inherit;
    @media #{$medium-up} { margin: 160px inherit; }
  }
  &#building {
    padding-top: 80px;
    @media #{$medium-up} { padding-top: 160px; }
    h1 { margin-bottom: 15px; }
  }
}

#trail {
  position: absolute;
  background: $white;
  top: 0px;
  left: 0px;
  z-index: -1;
  #gray-path {
    fill: none;
    stroke: $lightgray;
    stroke-width: 10px;
  }
  #red-path {
    fill: none;
    stroke: $gusto;
    stroke-width: 10px;
  }
  #node {
    fill: $white;
    stroke: $gusto;
    stroke-width: 10px;
  }
}
