::selection { background: rgba($black, 0.75); color: $white; }
::-moz-selection { background: rgba($black, 0.75); color: $white; }

@include font-classes();
@include color-classes();
@include spacing-classes();

#header {
	border-bottom: 1px solid $lightgray;
	.name {
		img { height: 40px; }
	}
}

.state-indicator {
	position: absolute;
	top: -999em;
	left: -999em;
	@media #{$small-up} { z-index: 1; }
	@media #{$small-only} { z-index: 2; }
	@media #{$medium-up} { z-index: 3; }
	@media #{$medium-only} { z-index: 4; }
	@media #{$large-up} { z-index: 5; }
	@media #{$large-only} { z-index: 6; }
}

.inline-list {
  &.small-only-center {
    @media #{$small-only} {
      display: table;
      margin: 0px auto 20px auto;
      li {
        &:first-of-type { margin-left: 0px; }
      }
    }
  }
  &.center {
    display: table;
    margin: 0px auto 20px auto;
    li {
      &:first-of-type { margin-left: 0px; }
    }
  }
}

section:not(.top-bar-section) {
  @extend .vertical-padding-20;
  &.heading {
    @extend .color-white-background;
    @extend .vertical-padding-20;
    @extend .vertical-margin-80;
    margin-bottom: 160px;
    display: none;
    @media #{$medium-up} { display: block; }
    h3, h4 { text-align: center; }
  }
  &#awesome {
    @extend .color-white-background;
    padding-top: 80px;
    margin-bottom: 40px;
		margin-top: -80px;
    @media #{$medium-up} {
      padding-top: 160px;
      margin-bottom: 160px;
    }
    h1 { margin-bottom: 15px; }
  }
  &#poliana, &#on-the-list, &#jumpstart-foundry, &#gusto {
    .large-3 {
      img {
        width: 140px;
        height: auto;
        display: block;
        margin: 0px auto;
      }
    }
    .large-8 {
      .content {
        font-size: 1.1em;
        line-height: 1.75em;
      }
      .social {
        li {
          span {
            font-size: 1.5em;
          }
        }
      }
      .traits {
        @extend .vertical-margin-40;
        .large-3 {
          height: 120px;
          span {
            font-size: 3em;
            text-align: center;
            display: block;
          }
          p {
            @extend .brandon-grotesque;
            font-weight: 700;
            text-align: center;
            margin: 10px 0px 30px 0px;
          }
        }
      }
    }
  }
  &#hard-working {
    @extend .vertical-padding-80;
    @extend .color-gusto-background;
    * { @extend .color-white-text; }
    h3 { @extend .vertical-margin-20; }
    .project-image {
      $project-size: 160px;
      display: block;
      width: $project-size;
      height: $project-size;
      overflow: hidden;
      position: relative;
      background: $white;
      margin: 20px auto;
      background-repeat: no-repeat;
      background-position: 50%;
      @include background-size-working(75%);
      @include border-radius-working(1000px);
      a {
        position: absolute;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: $project-size + 10;
        font-size: 2em;
        opacity: 0;
        @include single-transition(opacity, $time, ease-in-out);
        &:hover { opacity: 1; }
      }
      &:after {
        position: absolute;
        top: 0px;
        left: 0px;
        background: $black;
        opacity: 0;
        @include border-radius-working(1000px);
        @include single-transition(opacity, $time, ease-in-out);
        content: "";
        width: 100%;
        height: 100%;
      }
      &:hover {
        &:after { opacity: 0.5; }
      }
    }
    .inline-list {
      span { font-size: 1.5em; }
    }
  }
  &#sexy {
    #highfive {
      $person-small-width: 100px;
      $person-large-width: 200px;
      position: relative;
      height: 300px;
      margin-bottom: 60px;
      @extend .vertical-padding-40;
      @extend .color-white-background;
      @media #{$medium-up} { height: 640px; }
      .arrow {
        position: absolute;
        top: 50%;
        width: 200px;
        height: 60px;
        margin-top: -30px;
        overflow: hidden;
        display: none;
        @media #{$medium-up} { display: block; }
        &:first-of-type {
          left: 10%;
          text-align: left;
        }
        &:last-of-type {
          right: 10%;
          text-align: right;
        }
        span {
          @extend .brandon-grotesque;
          color: $lightgray;
          font-weight: 700;
          display: block;
          height: 60px;
          line-height: 60px;
          float: left;
          &.symbol { font-size: 4em; }
        }
      }
      .flyIn {
        position: absolute;
        width: $person-small-width;
        height: auto;
        display: block;
				$flyInTime: $time * 3;
				@include transition(left $flyInTime ease-in-out, right $flyInTime ease-in-out, opacity $flyInTime ease-in-out);
        @media #{$medium-up} { width: $person-large-width; }
        &:first-of-type {
          left: 50%;
          margin-left: -1 * $person-small-width;
					opacity: 1;
          @media #{$medium-up} {
						left: 25%;
						margin-left: (-1 * $person-large-width) + 10;
						opacity: 0;
					}
        }
        &:last-of-type {
          right: 50%;
          margin-right: -1 * $person-small-width;
					opacity: 1;
          @media #{$medium-up} {
						right: 25%;
						margin-right: (-1 * $person-large-width) + 10;
						opacity: 0;
					}
        }
				&.go {
					opacity: 1;
					&:first-of-type { left: 50%; }
					&:last-of-type { right: 50%; }
				}
      }
    }
    .large-6 {
      .role { font-size: 1.1em; }
      .headturn {
        $headturn-width: 300px;
        position: relative;
        background-repeat: no-repeat;
        background-size: ($headturn-width * 5) 200px;
        background-position: ($headturn-width * -2) 0px;
        height: 200px;
        width: $headturn-width;
        display: block;
        overflow: hidden;
        margin: 10px auto;
      }
      .stat-graphs {
        li {
          p {
            font-size: 0.9em;
            text-align: center;
          }
          .arc {
            &:last-of-type path { fill: $lightgray; }
          }
          .graph-1 {
            .arc {
              &:first-of-type path { fill: $gusto; }
            }
          }
          .graph-2 {
            .arc {
              &:first-of-type path { fill: $green; }
            }
          }
          .graph-3 {
            .arc {
              &:first-of-type path { fill: $blue; }
            }
          }
        }
      }
      &#grayson {
        .headturn { background-image: url('../images/grayson-sprite-400.jpg'); }
      }
      &#patrick {
        .headturn { background-image: url('../images/patrick-sprite-400.jpg'); }
      }
    }
  }
  &#well-spoken {
    @extend .vertical-padding-40;
    @extend .color-white-background;
    .row {
      margin: 40px auto;
      h2 {
        & + p { font-size: 1.25em; }
      }
      img {
        display: block;
        margin: 0px auto;
        height: auto;
        width: 160px;
        @media #{$medium-only} { width: 120px; }
        @include border-radius-working(1000px);
      }
    }
  }
  &#talkative {
    padding: 0px;
    @extend .color-white-background;
    #pong {
      background: $lightgray;
      position: relative;
      svg {
        display: block;
        margin: 0px auto;
        rect { fill: $black; }
        circle {
          fill: $lightgray;
          stroke: $gusto;
          stroke-width: 10px;
        }
        .rules {
          @extend .proxima-nova;
          fill: $white;
          font-weight: 300;
          font-size: 0.9em;
        }
        .score {
          @extend .brandon-grotesque;
          fill: $white;
          font-weight: 700;
          font-size: 2.5em;
        }
        .rules { text-transform: uppercase; }
      }
      .modal {
        position: absolute;
        background: $black;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
      }
      .button {
        position: absolute;
        width: 300px;
        height: 60px;
        line-height: 2em;
        top: 50%;
        left: 50%;
        margin-left: -150px;
        margin-top: -30px;
        @extend .brandon-grotesque;
        font-weight: 700;
      }
      & + div {
        display: none;
        &.winner { display: block !important; }
      }
    }
    #contact-form {
      @extend .vertical-padding-40;
      input, textarea {
        @extend .proxima-nova;
        font-weight: 300;
        &[type=submit] {
          @extend .brandon-grotesque;
          font-weight: 700;
        }
      }
      textarea {
        resize: none;
        height: 100px;
      }
    }
  }
}

#trail {
  position: absolute;
  background: $white;
  top: 0px;
  left: 0px;
  z-index: -1;
  #gray-path {
    fill: none;
    stroke: $lightgray;
    stroke-width: 10px;
  }
  #red-path {
    fill: none;
    stroke: $gusto;
    stroke-width: 10px;
  }
  #node {
    fill: $white;
    stroke: $gusto;
    stroke-width: 10px;
  }
}

#timeline {
  $companies: (
    gusto $gusto,
    poliana $poliana,
    otl $onthelist,
    jsf $jumpstart
  );
  $timeline-num: length($companies);
  $timeline-small-width: $timeline-num + 1px;
  $timeline-large-width: $timeline-small-width * 2;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  overflow: visible;
  height: 100%;
  width: $timeline-small-width * $timeline-num;
  @media #{$medium-up} { width: $timeline-large-width * $timeline-num; }
  .company {
    position: relative;
    float: left;
    height: auto;
    width: $timeline-small-width;
    @media #{$medium-up} { width: $timeline-large-width; }
    @each $company in $companies {
      &.#{nth($company, 1)} { background: nth($company, 2); }
    }
    .date {
      position: absolute;
      top: -20px;
      height: 20px;
      width: 60px;
      text-align: right;
      @extend .brandon-grotesque;
      font-size: 0.8em;
      font-weight: bold;
      border-bottom: 2px solid $black;
      display: none;
      @media #{$medium-up} { display: block; }
    }
  }
}

#footer {
  $footer-large-height: 170px;
  $footer-small-height: 280px;
  background: $black;
  height: $footer-small-height;
  @media #{$medium-up} { height: $footer-large-height; }
  .links {
    $footer-links-height: 80px;
    display: table;
    margin: 20px auto 0px auto;
    @media #{$medium-up} {
      display: block;
      margin-top: ($footer-large-height - $footer-links-height) / 2;
    }
    li {
      @extend .brandon-grotesque;
      font-weight: 700;
      &:first-of-type {
        img { height: $footer-links-height; }
      }
      &.single {
        float: none;
        line-height: 2em;
        margin-left: 0px;
        text-align: center;
        width: 100%;
        @media #{$medium-up} {
          float: left;
          margin-left: 1.375rem;
          text-align: left;
          width: auto;
          line-height: $footer-links-height;
        }
      }
      &.social {
        margin-left: 0px;
        width: 33%;
        text-align: center;
        @media #{$medium-up} {
          text-align: left;
          width: auto;
          margin-left: 1.375rem;
        }
      }
      a {
        @extend .color-dark-text;
        span {
          font-size: 1.5em;
          line-height: 40px;
          @media #{$medium-up} { line-height: $footer-links-height; }
        }
      }
    }
  }
  .copyright {
    font-size: 0.8em;
    margin-top: 20px;
    @extend .color-dark-text;
    @media #{$medium-up} { margin-top: 0px; }
  }
}
