$gusto: #F34A2C;
$poliana: #68CAD0;
$onthelist: #FEC40E;
$jumpstart: #F7941F;
$blue: #16597A;
$green: #B1BE36;
$white: #F5F5F5;
$black: #2D2D2D;
$lightgray: #DDD;
$darkgray: #858585;

$brandon: 'Brandon Grotesque', 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$proxima: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$corner: 'Corner Store', 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
